<section class="main section1">
  <div class="container1">
    <p class="tieude">SHOPPING CART</p>
    <div class="row mb ">
      <div class="boxtrai mr">
        <div class="row">
          <h1>DELIVERY INFORMATION</h1>
          <table class="thongtinnhanhang">
            <tbody id="thongtinnhanhang">
            <tr>
              <td >NAME</td>
              <td><input type="text" name="hoten" ></td>
            </tr>
            <tr>
              <td>ADDRESS</td>
              <td><input type="text" name="diachi" ></td>
            </tr>
            <tr>
              <td>PHONE</td>
              <td><input type="text" name="dienthoai" ></td>
            </tr>
            <tr>
              <td>EMAIL</td>
              <td><input type="text" name="email" ></td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="row mb">
          <h1>CART</h1>
          <table>
            <tr>
              <th>Number</th>
              <th>Image</th>
              <th>Product</th>
              <th>Price</th>
              <th>Qty</th>
              <th>Total(VNĐ)</th>
            </tr>
            <tbody id="mycart">

            </tbody>
          </table>
        </div>
        <div class="row mb">
          <button class="dongy" routerLink="/donhang" onclick="dongydathang()">AGREE TO ORDER</button>
        </div>
      </div>
    </div>
  </div>
</section>
