<header class="header section2">
  <div class="logo">
    <div class="logo1">
      <ul class="mainlogo">
        <li>My Account</li>
        <li>My Favourites</li>
      </ul>
    </div>

  </div>
</header>
<header class="header section">
  <div class="logo3">
    <a routerLink="/"><i class="fas fa-apple-alt"></i></a>
    <h1 class="web" >GREEN VEGETABLE</h1>
  </div>

</header>
<nav class="nav section">
  <div class="nav1">
    <ul class="menu">
      <li><a routerLink="/">Home page</a> </li>
      <li><a href="#">Product</a> </li>
      <li><a href="/blog">Blog vegetable</a> </li>
      <li><a routerLink="/shop">Shop</a> </li>
    </ul>
    <div class="logo2">
      <a href="#"> <i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter-square"></i></a>
      <a href="#"><i class="fas fa-envelope"></i></a>
    </div>
  </div>
</nav>
