<section class="main section1">
  <div class="container1">
    <p class="tieude">ORDER HAS BEEN ORDERED</p>
    <div class="row mb ">
      <div class="boxtrai mr">
        <div class="row">
          <h1>DELIVERY INFORMATION</h1>
          <table class="thongtinnhanhang">
            <tbody id="thongtinnhanhang">

            </tbody>
          </table>
        </div>
        <div class="row mb">
          <h1>CART</h1>
          <table>
            <tr>
              <th>Number</th>
              <th>Image</th>
              <th>Product</th>
              <th>Price</th>
              <th>Qty</th>
              <th>Total(VNĐ)</th>
            </tr>
            <tbody id="mycart">

            </tbody>
          </table>
        </div>
        <div class="row mb">
          <h1>THANK YOU FOR BUYING!</h1>
          <a routerLink="/shop"><button class="dongy">CONTINUE SHOPPING</button></a>
        </div>
      </div>
    </div>
  </div>
</section>
