<body>
<section class="part-one">
  <div class="text">Discover Our Products</div>
  <div class="small-text">At vero eos et accusamus et  ducimus qui blanditiis praesentium.</div>
  <div class="giohang">
    <a routerLink="/giohang" class="fas fa-shopping-basket" onmouseenter="showcart()" onmouseleave="showcart()"><span id="countsp">0</span></a>
  </div>
  <div id="showcart">
    <table>
      <tr>
        <th>Number</th>
        <th>Image</th>
        <th>Product</th>
        <th>Price</th>
        <th>Qty</th>
        <th>Total(VNĐ)</th>
      </tr>
      <tbody id="mycart">

      </tbody>
    </table>

  </div>
  <div class="icon-menu">
    <ul class="ul1">
      <li id="one" class="li1" onclick="ClickFruit()">
        <a>
          <div class="icon"><span onmouseenter="ChangeColor1(this)" onmouseleave="RemoveColor1(this)" class="fas fa-carrot" style="color: grey;font-size:50px"></span></div>
          <div class="title-cate">Fruits</div>
        </a>
      </li>
      <li id="two" class="li1" onclick="ClickJuice()">
        <a>
          <div class="icon"><span onmouseenter="ChangeColor1(this)" onmouseleave="RemoveColor1(this)" class="fas fa-seedling" style="color:grey;font-size:50px"></span></div>
          <div class="title-cate">Vegetables</div>
        </a>
      </li>
      <li id="three" class="li1" onclick="ClickVegetable()">
        <a>
          <div class="icon"><span onmouseenter="ChangeColor1(this)" onmouseleave="RemoveColor1(this)" class="fas fa-cocktail" style="color:grey;font-size:50px"></span></div>
          <div class="title-cate">Juices</div>
        </a>
      </li>
    </ul>
  </div>
</section>

<section class="part-two" id="fruit">
  <div class="box-one" onmouseenter="EnterBox0(this)" onmouseleave="LeaveBox0(this)">
    <div class="image">
      <img src="../../assets/IMG/nho.jpeg" width="120" height="120"/>
    </div>
    <div class="info">
      <div class="product-name">Green Grape</div>
      <div class="price">
        <div class="cost">14550</div>
        <div class="order">
          <input type="number" name="soluong" min="1" max="10" value="1">
          <span class="fas fa-info-circle" onmouseenter="ChangeColor1(this)" onmouseleave="RemoveColor1(this)"></span>
          <span class="far fa-comments" onmouseenter="ChangeColor1(this)" onmouseleave="RemoveColor1(this)"></span>
        </div>
      </div>
    </div>
    <button class="fas fa-shopping-basket" onclick="themvaogiohang(this)" onmouseenter="ChangeColor1(this)" onmouseleave="RemoveColor1(this)"></button>
  </div>
  <div class="box-one" onmouseenter="EnterBox1(this)" onmouseleave="LeaveBox1(this)">
    <div class="image">
      <img src="../../assets/IMG/nho-den.jpeg" width="120" height="120"/>
    </div>
    <div class="info">
      <div class="product-name">Black Grape</div>
      <div class="price">
        <div class="cost">15550</div>
        <div class="order">
          <input type="number" name="soluong" min="1" max="10" value="1">
          <span class="fas fa-info-circle" onmouseenter="ChangeColor1(this)" onmouseleave="RemoveColor1(this)"></span>
          <span class="far fa-comments" onmouseenter="ChangeColor1(this)" onmouseleave="RemoveColor1(this)"></span>
        </div>
      </div>
    </div>
    <button class="fas fa-shopping-basket" onclick="themvaogiohang(this)" onmouseenter="ChangeColor1(this)" onmouseleave="RemoveColor1(this)"></button>
  </div>
  <div class="box-one" onmouseenter="EnterBox2(this)" onmouseleave="LeaveBox2(this)">
    <div class="image">
      <img src="../../assets/IMG/apple.jpeg" width="120" height="120"/>
    </div>
    <div class="info">
      <div class="product-name">Fresh Apple</div>
      <div class="price">
        <div class="cost">16550</div>
        <div class="order">
          <input type="number" name="soluong" min="1" max="10" value="1">

          <span class="fas fa-info-circle" onmouseenter="ChangeColor1(this)" onmouseleave="RemoveColor1(this)"></span>
          <span class="far fa-comments" onmouseenter="ChangeColor1(this)" onmouseleave="RemoveColor1(this)"></span>
        </div>
      </div>
    </div>
    <button class="fas fa-shopping-basket" onclick="themvaogiohang(this)" onmouseenter="ChangeColor1(this)" onmouseleave="RemoveColor1(this)"></button>
  </div>
  <div class="box-one" onmouseenter="EnterBox3(this)" onmouseleave="LeaveBox3(this)">
    <div class="image">
      <img src="../../assets/IMG/kiwi.jpeg" width="120" height="120"/>
    </div>
    <div class="info">
      <div class="product-name">Tropical Kiwi</div>
      <div class="price">
        <div class="cost">14550</div>
        <div class="order">
          <input type="number" name="soluong" min="1" max="10" value="1">
          <span class="fas fa-info-circle" onmouseenter="ChangeColor1(this)" onmouseleave="RemoveColor1(this)"></span>
          <span class="far fa-comments" onmouseenter="ChangeColor1(this)" onmouseleave="RemoveColor1(this)"></span>
        </div>
      </div>
    </div>
    <button class="fas fa-shopping-basket" onclick="themvaogiohang(this)" onmouseenter="ChangeColor1(this)" onmouseleave="RemoveColor1(this)"></button>
  </div>
  <div class="box-one" onmouseenter="EnterBox4(this)" onmouseleave="LeaveBox4(this)">
    <div class="image">
      <img src="../../assets/IMG/lemon.jpeg" width="110" height="120"/>
    </div>
    <div class="info">
      <div class="product-name">Yellow Lemon</div>
      <div class="price">
        <div class="cost">15550</div>
        <div class="order">
          <input type="number" name="soluong" min="1" max="10" value="1">
          <span class="fas fa-info-circle" onmouseenter="ChangeColor1(this)" onmouseleave="RemoveColor1(this)"></span>
          <span class="far fa-comments" onmouseenter="ChangeColor1(this)" onmouseleave="RemoveColor1(this)"></span>
        </div>
      </div>
    </div>
    <button class="fas fa-shopping-basket" onclick="themvaogiohang(this)" onmouseenter="ChangeColor1(this)" onmouseleave="RemoveColor1(this)"></button>
  </div>
  <div class="box-one" onmouseenter="EnterBox5(this)" onmouseleave="LeaveBox5(this)">
    <div class="image">
      <img src="../../assets/IMG/banana.jpeg" width="90" height="120"/>
    </div>
    <div class="info">
      <div class="product-name">Tropical Banana</div>
      <div class="price">
        <div class="cost">19550</div>
        <div class="order">
          <input type="number" name="soluong" min="1" max="10" value="1">
          <span class="fas fa-info-circle" onmouseenter="ChangeColor1(this)" onmouseleave="RemoveColor1(this)"></span>
          <span class="far fa-comments" onmouseenter="ChangeColor1(this)" onmouseleave="RemoveColor1(this)"></span>
        </div>
      </div>
    </div>
    <button class="fas fa-shopping-basket" onclick="themvaogiohang(this)" onmouseenter="ChangeColor1(this)" onmouseleave="RemoveColor1(this)"></button>
  </div>
</section>
<section class="part-three">
  <div class="ig">
    <div><img src="../../assets/IMG/dis1.png" width="370" height="270"/></div>
  </div>
  <div class="ig">
    <div><img src="../../assets/IMG/dis2.png" width="370" height="270"/></div>
  </div>
  <div class="ig">
    <div><img src="../../assets/IMG/dis3.png" width="370" height="270"/></div>
  </div>
</section>

</body>
