<footer class="section">
  <div class="container">
    <div class="lienket" onclick="next(this)">
      <div class="brand">
        <span>Brands associated with us</span>
      </div>
      <div class="nhanhieu">
        <img id="next" src="../../assets/IMG/thuonghieu1.jpg">
      </div>
      <div class="nhanhieu">
        <img id="next1" src="../../assets/IMG/thuonghieu2.jpg">
      </div>
      <div class="nhanhieu">
        <img id="next2" src="../../assets/IMG/thuonghieu3.jpg">
      </div>
      <div class="nhanhieu">
        <img id="next3" src="../../assets/IMG/thuonghieu4.jpg">
      </div>
      <div class="nhanhieu">
        <img id="next4" src="../../assets/IMG/thuonghieu5.jpg">
      </div>
    </div>
    <div class="end">
      <div class="emails">
        <i class="far fa-envelope"> SIGN UP FOR NEWSLETTERS</i>
      </div>
      <div class="inputemail">
        <input type="email" placeholder="Enter Your Email">
        <button type="submit"><a href="#">SUBSCRIBE</a></button>
      </div>
    </div>

  </div>
  <div class="container">
    <div class="theend">
      <div class="menuend">
        <ul class="tongcot">
          <li class="cot1">
            CUSTOMER SERVICE
            <ul>
              <li><a href="#">Contact us</a></li>
              <li><a href="#">Help and advice</a></li>
              <li><a href="#">Shipping & Returns</a></li>
              <li><a href="#">Terms and conditions</a></li>
              <li><a href="#">Refund Policy</a></li>
            </ul>
          </li>
          <li class="cot1">INFORMATION
            <ul>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Testimonials</a></li>
              <li><a href="#">My Account</a></li>
              <li><a href="#">Payments & Returns</a></li>
              <li><a href="#">View Catalogues Online</a></li>
            </ul>
          </li>
          <li class="cot1">ABOUT US
            <ul>
              <li><a href="#">Who We Are ?</a></li>
              <li><a href="#">Corporate Responsibility</a></li>
              <li><a href="#">California Laws</a></li>
              <li><a href="#">Careers</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>
          </li>
          <li class="cot1">CONTACT US
            <ul>
              <li><i class="fas fa-phone-square-alt"></i> <a href="#">(+612) 2531 5600</a></li>
              <li><i class="fas fa-envelope"></i> <a href="#">greenvegetable@gmail.com</a></li>
              <li><i class="fas fa-map-marker-alt"></i> <a href="#">PBox 2022 Galaxy  Street West</a></li>
              <li><i class="fas fa-door-open"></i> <a href="#">Opening Hours : 8.00AM - 21.00AM</a></li>
            </ul>
          </li>
        </ul>
        <div class="banquyen">
          <p>Copyright © 2019 Vinovathemes. All Rights Reserved.</p>
        </div>
      </div>

    </div>
  </div>
</footer>

