<div class="container3">
<div class="blog">
  <div class="blogs">
    <h1>Latest Post</h1>
  </div>
  <div class="blog1">
    <img src="../../assets/IMG/Blog-tong-hop-hinh-anh-qua-cherry-dep-nhat_012227121.jpg">
    <h1>Lợi ích không thể bỏ qua của trái cây Cherry</h1>
    <button type="button"><a href="https://duongtt.herokuapp.com/Blog.html">See more</a></button>
  </div>
  <div class="blog1">
    <img src="../../assets/IMG/Blog1_vietquat_1508844583963_indd.jpg">
    <h1>Việt Quất – Loại quả tuyệt vời cho sức khỏe</h1>
    <button type="button"><a href="https://duongtt.herokuapp.com/Blog1.html">See more</a></button>
  </div>
  <div class="blog1">
    <img src="../../assets/IMG/blog2-hinh-nen-trai-cay-dep-7.jpg.crdownload">
    <h1>Bạn có biết rằng, ăn trái cây còn có tác dụng chữa bệnh???</h1>
    <button type="button"><a href="https://duongtt.herokuapp.com/Blog2.html">See more</a></button>
  </div>
</div>
</div>
